@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model JourneyFinder.Models.ViewModels.JourneyIndexViewModel

@if (Model.Journeys.Any())
{
    <div class="journey-list">
        @foreach (var journey in Model.Journeys)
        {
            <div class="journey-box">
                <div class="time-price-row">
                    <div class="time">
                        <div class="time-labels">
                            <span class="time-label">@Localizer["DepartureLabel"]</span>
                            <span class="time-label">@Localizer["ArrivalLabel"]</span>
                        </div>
                        <div class="time-values">
                            <span class="time-value">@journey.Journey.Departure.ToString("HH:mm")</span>
                            <span class="time-arrow">→</span>
                            <span class="time-value">@journey.Journey.Arrival.ToString("HH:mm")</span>
                        </div>
                    </div>
                    <div class="price-badge">@($"{journey.Journey.OriginalPrice:N2} ₺")</div>
                </div>
                <div class="locations">
                    @journey.Journey.Origin - @journey.Journey.Destination
                </div>
            </div>
        }
    </div>
}
else
{
    <p>@Localizer["NotFound"]</p>
}

@section Styles {
    <link rel="stylesheet" href="~/css/Journey/journey.css" />
}